<% provide(:title, "login") %>
<ul class="image-login-new">
</ul>
<section class="section is-small">
  <div class="hero-body">
    <div class="container">
      <div class="title has-text-centered title-layout">
        ログイン画面
      </div>
    </div>
  </div>
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6" id="form-layout">
        <%= form_with(scope: :session, url: login_path, local: true) do |f| %>

          <div class="field">
            <%= f.label :email, "メールアドレス",  class: "label label-color" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => " \uf0e0 email", class: "fa input is-info" %>
          </div><br>

          <div class="field">
            <%= f.label :password, "パスワード", class: "label label-color" %>
            <%= f.password_field :password, :placeholder => " \uf023 password", class: "fa input is-info" %>
          </div><br>

          <div class="field">
            <%= f.label :remember_me, class: "checkbox is-left is-info", for: "remember-me" do %>
              <%= f.check_box :remember_me, id: "remember-me" %>
              <font color="white"><span class="sub-info">ログイン情報を記憶する</span></font>
            <% end %>
          </div><br>

          <div class="actions">
            <%= f.submit "ログイン", :style=>"background: #67c5ff; color: white;", class: "button has-text-weight-semibold" %>
          </div><br>
        <% end %>

        <p>
          <%= link_to "管理者ログイン", admin_guest_login_path, method: :post, class: "button admin-btn has-text-weight-semibold" %>
        </p></br>
        <P>
          <%= link_to "ゲストログイン（歯科医院）", guest_login_path, method: :post, class: "button guest-btn has-text-weight-semibold" %>
        </P><br>
        <p class="has-text-weight-semibold">
          <font color="white">ユーザー登録がまだの場合は</font><%= link_to new_user_path, :style=>"background: #32CD32;  color: white;", class: "button" do %>
            <span class="icon">
              <i class="fa fa-chevron-right"></i>
            </span>
            <span>
              こちら
            </span>
          <% end %>
        </p>

      </div>
    </div>
  </div>
</section>
