<% provide(:title, "login") %>
<section class="hero is-info ">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">
        ログイン画面
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <%= form_with(scope: :session, url: login_path, local: true) do |f| %>

          <div class="field">
            <%= f.label :email, "メールアドレス",  class: "label" %>
            <p class="control has-icons-left">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "email", class: "input" %>
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>
          </div>
    
          <div class="field">
            <%= f.label :password, "パスワード", class: "label" %>
            <p class="control has-icons-left">
              <%= f.password_field :password, :placeholder => "password", class: "input" %>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
    
          <div class="field">
            <%= f.label :remember_me, class: "checkbox is-left", for: "remember-me" do %>
            <%= f.check_box :remember_me, id: "remember-me" %>
            <span>ログイン情報を記憶する</span>
          <% end %>
          </div>

          <div class="actions">
            <%= f.submit "ログイン", class: "button is-success" %>
          </div><br>
        <% end %>
        
        <p>
          <%= link_to '/auth/facebook', class: "button is-link" do %>
            <span class="icon">
              <i class="fab fa-facebook"></i>
            </span>
            <span>
              Facebookアカウントでログイン
            </span>
          <% end %>
        </p></br>
        <p class="is-size-4 has-text-grey-dark has-text-weight-semibold">
          ユーザー登録がまだの場合は<%= link_to "こちら", new_user_path %>
        </p>
        
      </div>
    </div>
  </div>
</section>