<% provide(:title, "Edit") %>
<section class="hero is-small is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">
        ユーザー編集
      </h1>
    </div>
  </div>
</section>

<section class="section" id="image-layout">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">
        ユーザー編集
      </h1>
    </div>
  </div>
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <%= form_with(model: @user, local: true, multipart: true) do |f| %>
        <%= render partial: 'shared/error_messages', locals: { obj: @user } %>
        
          <div class="field has-text-centered">
            <% if @user.image.present? %>
              <%= image_tag @user.image.thumb.url, size: "120x120", onClick:"$('#upfile').click()" %>
            <% else %>
              <%= image_tag "/user_images/no-image-2.png", size: "120x120", onClick:"$('#upfile').click()" %>
            <% end %>
            <%= f.label :image, class: "label" %>
            <%= f.file_field :image, style:"display:none;", id:"upfile", class: "input"%>
          </div>
        
          <div class="field">
            <%= f.label :name, class: "label" %>
            <p class="control has-icons-left">
              <%= f.text_field :name, class: "input" %>
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </p>
          </div>

          <div class="field">
            <%= f.label :email, class: "label" %>
            <p class="control has-icons-left">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "email", class: "input" %>
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>
          </div>
          
          <div class="field">
            <%= f.label :password, class: "label" %>
            <p class="control has-icons-left">
            <%= f.password_field :password, :placeholder => "password", class: "input" %>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          
          <div class="field">
            <%= f.label :password_confirmation, class: "label" %>
            <p class="control has-icons-left">
              <%= f.password_field :password_confirmation, :placeholder => "password confirmation", class: "input" %>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div><br>
            <%= f.submit "更新", class: "button is-success has-text-weight-semibold" %>
        <% end %>
      </div>
    </div>
  </div>
</section>