<% provide(:title, "Edit") %>
<section class="hero is-success is-small">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">
        ユーザー編集
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <%= form_with(model: @user, local: true, multipart: true) do |f| %>
        <%= render 'shared/error_messages' %>
        
          <div class="field has-text-centered">
            <% if @user.image.present? %>
              <%= image_tag @user.image.thumb.url, size: "120x120", onClick:"$('#upfile').click()" %>
            <% else %>
              <%= image_tag "/user_images/no-image-2.png", size: "120x120", onClick:"$('#upfile').click()" %>
            <% end %>
            <%= f.label :image, class: "label" %>
            <%= f.file_field :image, style:"display:none;", id:"upfile", class: "input"%>
          </div>
        
          <div class="field">
            <%= f.label :name, class: "label" %>
            <%= f.text_field :name, class: "input" %>
          </div>

          <div class="field">
            <%= f.label :email, class: "label" %>
            <%= f.email_field :email, class: "input" %>
          </div>
          
          <div class="field">
            <%= f.label :password, class: "label" %>
            <%= f.password_field :password, class: "input" %>
          </div>
          
          <div class="field">
            <%= f.label :password_confirmation, class: "label" %>
            <%= f.password_field :password_confirmation, class: "input" %>
          </div>

          <%= f.submit "更新", class: "button is-success" %>
        <% end %>
      </div>
    </div>
  </div>
</section>