<section class="hero is-small">
  <div class="hero-body">
    <div class="container"><br>
      <h1 class="title has-text-centered">
        <font color="white">歯科医院一覧</font>
      </h1>
    </div>
  </div>
</section>

<ul class="user-index"></ul>

<div class="pagination is-rounded is-centered" id="pagenate-style">
  <%= will_paginate @users, renderer: BulmaPagination::Rails %>
</div>
<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @users.each do |user| %>
        <div class="column is-3">
          <div class="card">
            <div class="card-content">
              <div class="card-image">
                <% if user.image.present? %>
                  <figure class="image">
                    <%= image_tag user.image.thumb.url %>
                  </figure>
                <% else %>
                  <figure class="image">
                    <%= image_tag "/user_images/no-image-2.png" %>
                  </figure>
                <% end %>
              </div>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <div class="title is-size-5 padding-top: 20px;"><%= user.name %></div>
                  <div class="title is-size-5">
                    <%= link_to user_orders_path(user), class: "button is-info" do %>
                      <span class="icon">
                        <i class="far fa-list-alt"></i>
                      </span>
                      <span>
                        指示書一覧 (完)
                      </span>
                    <% end %>
                  </div>
                </div>
              </div>
              <% if current_user.admin? %>
                <%= link_to edit_user_path(user), class: "button is-primary" do %>
                  <span class="icon">
                    <i class="fas fa-user-edit"></i>
                  </span>
                  <span>
                    編集
                  </span>
                <% end %>&emsp; 
                
                <%= link_to "削除", user, method: :delete,
                  data: { confirm: "削除してよろしいですか？" },
                  class: "button is-danger" %>
              <% end %>    
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<div class="pagination is-rounded is-centered" id="pagenate-style">
  <%= will_paginate @users, renderer: BulmaPagination::Rails %>
</div><br>