<% provide(:title, @user.name) %>
<section class="hero is-small">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">
        マイページ
      </h1>
    </div>
  </div>
</section>

<ul class="user-show"></ul>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="columns is-centered">
          <div class="column is-4">
            <% if @user.image.present? %>
              <figure class="image-tag">
                <%= image_tag @user.image.thumb.url, size: "200x200" %>
              </figure>
            <% else %>
              <figure class="image-tag">
                <%= image_tag "/user_images/no-image-2.png", size: "120x120" %>
              </figure>
            <% end %>
          </div>
          <div class="column is-10">
            <table class="table is-fullwidth">
              <tr>
                <td class="is-size-5">
                  <strong>医院名</strong>
                </td>
                <td class="is-size-5">
                  <strong>メールアドレス</strong>
                </td>
                <td class="is-size-5">
                  
                </td>
              </tr>
              <tr></tr>
              <tr>
                <td class="is-size-5">
                  <%= @user.name %>
                </td>
                <% if @user.id == current_user.id %>
                <td class="is-size-5">
                  <%= @user.email %>
                </td>
                <td class="has-text-weight-semibold">
                  <%= link_to edit_user_path(current_user), class: "button is-primary" do %>
                    <span class="icon">
                      <i class="fas fa-user-edit"></i>
                    </span>
                    <span>
                      編集
                    </span>
                  <% end %>
                </td>
                <% end %>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="columns is-centered">
    <div class="buttons are-medium">
      <% unless current_user.admin? %>
        <div class="button-new">
         <%= link_to new_user_order_path(@user), class: "button is-warning", :style=>"width:120%;" do %>
           <span class="icon">
             <i class="far fa-edit"></i>
           </span>
           <span>
             指示書作成
           </span>
         <% end %> 
        </div>
          
        <div class="button-index">
          <%= link_to '#',class: "button is-info" do %>
            <span class="icon">
              <i class="far fa-list-alt"></i>
            </span>
            <span>
              指示書一覧 (完)
            </span>
          <% end %>
        </div>
      <% end %>  
    </div>
  </div>
</div>
<section class="section">
  <div class="container">
    <h2 class="title-order has-text-centered is-3" id="open">
      <% if current_user.admin? %>
        新着技工物
        <% if @notification.present? %>
          <a class="button is-rounded is-danger"><span class="icon"><i class="fas fa-bell"></i></span><span><%= @notification %></span></a>
        <% end %>
      <% else %>
        <button class="button is-medium is-black">申請中の技工物</button>
      <% end %>  
    </h2>
    
    <div class="modal">
      <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title has-text-centered has-text-weight-semibold">申請中の技工物</p>
            <button class="delete is-large" aria-label="close" id="close"></button>
          </header>
          <section class="modal-card-body">
            <div class="columns is-centered">
              <div class="table-container">
                <table class="table is-bordered is-hoverable is-fullwidth" id="order-show-table">
                  <thead>
                    <tr>
                      <th class="is-size-5">詳細</th>
                      <th class="is-size-5">受付日</th>
                      <th class="is-size-5">患者名</th>
                      <th class="is-size-5">試適1</th>
                      <th class="is-size-5">試適2</th>
                      <th class="is-size-5">完成日</th>
                      <th colspan = "2"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @orders.each do |order| %>
                      <tr>
                        <td>
                          <%= link_to user_order_path(@user, order), class: "button is-info" do %>
                            <i class="fas fa-teeth-open"></i>
                          <% end %>
                        </td>
                        <td class="show-td">
                          <%= l(order.reception_date, format: :short) %>
                        </td>
                        <td class="show-td">
                          <%= order.patient_name %>
                        </td>
                        <td class="show-td">
                          <%= l(order.first_try, format: :short) if order.first_try.present? %>
                        </td>
                        <td class="show-td">
                          <%= l(order.second_try, format: :short) if order.second_try.present? %>
                        </td>
                        <td class="show-td">
                          <%= l(order.complete_day, format: :short) if order.complete_day.present? %>
                        </td>
                        <td><%= link_to "編集", edit_user_order_path(@user, @order), class: "button is-primary" %></td>
                        <td><%= link_to "削除", '#',  method: :delete,
                            data: { confirm: "削除してよろしいですか？" }, class: "button is-danger" %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>  
          </section>
        </div>
      </div>
    </div>
    
    

<script>
  $(document).ready(function() {
    $("#open").on("click", function() {
      $("div.modal").addClass("is-active");
    })

    $("#close, div.modal-background").on("click", function() {
      $("div.modal").removeClass("is-active");
    })
  });
</script>