<% provide(:title, 'Order_index') %>

<ul class="order-index"></ul>

<section class="hero is-small">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">
        <font color="white">指示書一覧（完了済）</font>
      </h1>
    </div>
  </div>
</section>

<%= form_with(url: user_orders_path(@user), method: :get, local: true) do |f| %>
<div class="text-search field has-addons">
  <div class="control">
    <%= f.label :patient_name, '患者名', :style=>"color:white;", class: "label" %>
    <%= f.text_field :search, :placeholder => "キーワード検索", class: "input is-small" %>
  </div>  
</div>
<div class="month-search field is-grouped">
  <div class="control">
    <%= f.label :complete_day, '完成日', :style=>"color:white;",  class: "label" %>
    <%= f.month_field :search_day, class: "input is-small" %>
  </div>&emsp; 
  <div class="control-submit">
    <%= f.submit '検索', class: "button is-info is-small has-text-weight-semibold" %>
  </div>
</div>  
<% end %>

<div class="paginate columns is-multiline">
  <%= will_paginate @orders_finished, renderer: BulmaPagination::Rails %>
</div>

<%= form_with(model: @order, url: destroy_index_path(@user), local: true, method: :delete) do |f| %>
<div class="columns is-centered">
  <div class="column is-9">
    <div class="table-container">
      <table class="table is-fullwidth" id="order-show-table">
        <tr>
          <th>患者名</th>
          <th>完成日</th>
          <th>詳細</th>
          <th>削除確認</th>
        </tr>
        <% @orders_finished.each do |order| %>
          <tr>
            <td><%= order.patient_name %></td>
            <td><%= l(order.complete_day, format: :long) if order.complete_day.present? %></td>
            <td>
              <%= link_to user_order_path(@user, order), class: "button is-info is-small" do %>
                <i class="fas fa-teeth-open"></i>
              <% end %>
            </td>
            <td><%= f.check_box :check_delete, {:checked => false}, "true", "false" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<% end %>
<div class="paginate columns is-multiline">
  <%= will_paginate @orders_finished, renderer: BulmaPagination::Rails %>
</div>