<% provide(:title, 'Order_up') %>
<section class="hero is-info is-bold is-small">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">
        指示書作成
      </h1>
    </div>
  </div>
</section>
<%= form_with(model: @order, url: user_orders_path(@user), local: true) do |f| %>
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-10">
         <div class="table-container">
           <%= render partial: 'shared/error_messages', locals: { obj: @order } %>
           <div class="field is-grouped">
             <div class="control">
               <font color="#FF6666"><i class="fas fa-tooth"></i></font>
             </div>
             <div class="control">
               <font color="#FF6666"<p class="warning-text is-size-7">マークは必須項目になります。</p></font>
             </div>
           </div> 
           <table class="table is-bordered is-hoverable is-fullwidth" id="order-table">
             <tr>
               <th>技工所名</th>
               <th colspan = "5">
                 <div class="has-text-weight-semibold is-size-5">デンタルラボラトリー</div>
               </th>
             </tr>
             <tr>
               <th>医院名</th>
               <td colspan = "5">
                 <div class="has-text-weight-semibold is-size-5"><%= current_user.name %>&ensp;様</div>
               </td>
             </tr>
             <tr>
               <th class="select-table">
                 <font color="#FF6666"><i class="fas fa-tooth"></i></font>&nbsp;患者名
               </th>
               <td colspan = "3">
                 <div class="field">
                   <p class="control has-icons-left">
                     <%= f.text_field :patient_name, class: "input is-info" %>
                     <span class="icon is-small is-left">
                       <i class="fas fa-user"></i>
                     </span>
                   </p> 
                 </div>   
               </td>
               <th class="select-table">
                 <font color="#FF6666"><i class="fas fa-tooth"></i></font>&nbsp;性別
               </th>
               <td class="select-table">
                 <div class="select is-info is-small">
                   <%= f.select :sex, [['男', '男'], ['女', '女']], { include_blank: '選択してください' } %>
                 </div>
               </td>
             </tr>
             <tr>
               <th class="select-tag">
                 <font color="#FF6666"><i class="fas fa-tooth"></i></font>&nbsp;受付日
               </th>
               <td class="select-date">
                 <%= f.date_field :reception_date, class: "input is-small is-info" %>
               </td>
               <th class="select-tag">シェード</th>
               <td class="select-order">
                <div class="select is-info is-small">
                  <%= f.select :color, Order.colors_i18n.invert, {include_blank: '選択してください'} %>
                </div>  
               </td>
               <th class="select-tag">
                 <font color="#FF6666"><i class="fas fa-tooth"></i></font>&nbsp;単 or 連
               </th>
               <td class="select-order">
                 <div class="select is-info is-small">
                   <%= f.select :crown, [['単冠', '単冠'], ['連結', '連結']], { include_blank: '選択してください' }%>
                 </div> 
               </td>
             </tr>
             <tr>
               <th colspan = "6">
                 <font color="#FF6666"><i class="fas fa-tooth"></i></font>&nbsp;部位 ・注意事項
               </th>
             </tr>
             <tr>
               <td colspan = "6">
                 <%= f.text_area :note, :placeholder => "部位・注意事項", class: "textarea is-info is-medium" %>
               </td>
             </tr>
             <tr>
               <th colspan = "6">
                 <font color="#FF6666"><i class="fas fa-tooth"></i></font>&nbsp;注文内容
               </th>
             </tr>
             <tr>
               <td colspan = "6">
                 <div class="checkbox is-flex-desktop">
                   <% ["AC","MB","e-max","CAD/CAM冠", "前装冠", "FCK", "インレー", "総義歯", "部分床義歯"].each do |order| %>
                   <div class="checkbox-content"><%= f.check_box :content, {multiple: true}, order, nil %></div>&nbsp;
                     <%= order %>&emsp;&nbsp;&emsp;&nbsp;
                   <% end %>
                 </div>
                 <div class="field is-grouped">
                   <div class="control-order">
                     その他
                   </div>
                   <div class="control-field">
                     <%= f.text_field :content, class: "input is-small is-info" %>
                   </div>
                   <div class="control-field">
                     <font color="red"><p class="warning-text is-size-7">※その他記入の場合チェック欄にチェックしないでください。</p></font>
                   </div>
                 </div>
               </td>
             </tr>
             <tr>
               <th class="select-metal">使用金属</th>
               <td>
                 <%= f.text_field :metal, :placeholder => "金属名", class: "input is-info is-small" %>
               </td>
               <th></th>
               <td>
                 <%= f.number_field :weight, step: '0.1', min: "0.0", :placeholder => "g", class: "input is-info is-small" %>
               </td>
               <td colspan = "2"></td>
             </tr>
             <tr>
               <th colspan = "6">口腔内写真</th>
             </tr>
             <tr>
               <td colspan = "2">
                 <div class="field tooth-image has-text-centered">
                    <% if @order.image_1.present? %>
                      <%= image_tag @user.orders.image_1.thumb.url, size: "120x120", onClick:"$('#upfile').click()" %>
                    <% else %>
                      <%= image_tag "/user_images/no-image-2.png", size: "250x250", onClick:"$('#upfile').click()" %>
                    <% end %>
                    <%= f.file_field :image_1, style:"display:none;", id:"upfile", class: "input"%>
                  </div>
               </td>
               <td colspan = "2">
                 <div class="field tooth-image has-text-centered">
                    <% if @order.image_2.present? %>
                      <%= image_tag @user.orders.image_2.thumb.url, size: "120x120", onClick:"$('#upfile').click()" %>
                    <% else %>
                      <%= image_tag "/user_images/no-image-2.png", size: "250x250", onClick:"$('#upfile').click()" %>
                    <% end %>
                    <%= f.file_field :image_2, style:"display:none;", id:"upfile", class: "input"%>
                  </div>
               </td>
               <td colspan = "2">
                 <div class="field tooth-image has-text-centered">
                    <% if @order.image_3.present? %>
                      <%= image_tag @user.orders.image_3.thumb.url, size: "120x120", onClick:"$('#upfile').click()" %>
                    <% else %>
                      <%= image_tag "/user_images/no-image-2.png", size: "250x250", onClick:"$('#upfile').click()" %>
                    <% end %>
                    <%= f.file_field :image_3, style:"display:none;", id:"upfile", class: "input"%>
                  </div>
               </td>
             </tr>
             <tr>
               <th class="select-tag">試適１</th>
               <td class="select-date">
                 <%= f.datetime_field :first_try, class: "input is-small is-info" %>
               </td>
               <th class="select-tag">試適２</th>
               <td class="select-date">
                <%= f.datetime_field :second_try, class: "input is-small is-info" %>  
               </td>
               <th class="select-tag">完成日</th>
               <td class="select-date">
                <%= f.datetime_field :complete_day, class: "input is-small is-info" %>  
               </td>
             </tr>
           </table>
          </div>
          <div class="has-text-centered">
            <%= f.submit "指示書作成", class: "button is-warning is-medium" %>&emsp;&nbsp;
            <%= link_to "キャンセル", '#', class: "button is-outlined is-medium" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% end %>