<% provide(:title, 'Order_PDF') %>

<section class="section">
  <h1 class="title has-text-centered">
    歯科技工指示書
  </h1>
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="table-container">
          <div class="has-text-right">
            <%= l(@order.reception_date, format: :middle) %>
          </div>
          <table class="table is-bordered is-hoverable is-fullwidth" id="pdf-table">
            <tr>
              <th colspan = "4">T-セラミックス</th>
              <td colspan = "3"></td>
            </tr>
            <tr>
              <th>医院名</th>
              <td colspan = "3"><%= @user.name %>&ensp;様</td>
            </tr>
            <tr>
              <th>患者名</th>
              <td><%= @order.patient_name %>&ensp;様</td>
              <td><%= @order.sex %></td>
            </tr>
            <tr>
              <th>シェード</th>
              <td><%= @order.color %></td>
              <td colspan = "2"></td>
            </tr>
            
          </table>  
        </div>  
      </div>
    </div>    
  </div>  
</section>  