<% provide(:title, 'Order_Show') %>

<ul class="order-image"></ul>

<%= form_with(model: @order, url: admin_update_path(@user, @order), local: true, method: :patch) do |f| %>
  <%= f.hidden_field :content, :multiple => true,  value: @content %>
<section class="section">
  <div class="container">
      <h1 class="title has-text-centered">
        指示書詳細
      </h1>
    <div class="columns is-centered">
      <div class="column is-10">
        <% if @order.finished == "true" %>
          <div class="pdf has-text-right has-text-weight-semibold">
            <%= link_to "PDF", pdf_path(format: :pdf, user_id: @user.id, id: @order.id), class: "button is-link" %>
          </div><br>
        <% end %>
         <div class="table-container">
           <%= render partial: 'shared/error_messages', locals: { obj: @order } %>
           <div class="field is-grouped">
             <% if current_user.admin? && (@order.finished == "false" || @order.finished.blank?) %>
               <div class="control">
                 <font color="#FF6666"><i class="fas fa-tooth"></i></font>
               </div>
               <div class="control">
                 <font color="red"><p class="warning-text is-size-7">マークは【必須】になります。</p></font>
               </div>
               <div class="control">
               <font color="#FF6666"><i class="fas fa-exclamation-triangle"></i></font>
               </div>
               <div class="control">
                 <font color="red"><p class="warning-text is-size-7">マークは使用金属に記入済みの場合【必須】になります。</p></font>
               </div>&ensp;
             <% else %>
               <div class="control">
                 <% if @order.first_try.present? %>
                   <font color="red"><p class="warning-text is-size-7">マーク 試適２または完成日に日付を入れてください。</p></font>
                 <% elsif @order.first_try.present? && @order.second_try.present? %>
                   <font color="red"><p class="warning-text is-size-7">マーク 完成日に日付を入れてください。</p></font>
                 <% end %> 
               </div>
             <% end %>
           </div> 
           <table class="table is-bordered is-hoverable is-fullwidth" id="order-table">
             <tr>
               <th class="select-tag">技工所名</th>
               <td colspan = "5">
                 <div class="has-text-weight-semibold is-size-5">デンタルラボラトリー</div>
               </td>
             </tr>
             <tr>
               <th class="select-tag">医院名</th>
               <td colspan = "5">
                 <div class="has-text-weight-semibold is-size-5"><%= @user.name %>&ensp;様</div>
               </td>
             </tr>
             <tr>
               <th class="select-tag">
                 患者名
               </th>
               <td colspan = "3">
                 <div class="has-text-weight-semibold is-size-5"><%= @order.patient_name %>&ensp;様</div>   
               </td>
               <th class="select-tag">
                 性別
               </th>
               <td class="select-table">
                 <div class="has-text-weight-normal is-size-6"><%= @order.sex %></div>
               </td>
             </tr>
             <tr>
               <th class="select-tag">
                 受付日
               </th>
               <td class="select-date">
                 <div class="has-text-weight-normal is-size-6"><%= l(@order.reception_date, format: :long) %></div>
               </td>
               <th class="select-tag">シェード</th>
               <td class="select-order">
                 <div class="has-text-weight-normal is-size-6"><%= @order.color_i18n %></div>  
               </td>
               <th class="select-tag">
                 単 or 連
               </th>
               <td class="select-order">
                 <div class="has-text-weight-normal is-size-6"><%= @order.crown %></div> 
               </td>
             </tr>
             <tr>
               <th colspan = "6">
                 部位 ・注意事項
               </th>
             </tr>
             <tr>
               <td colspan = "6">
                 <div class="has-text-weight-normal is-size-6"><%= @order.note %></div>
               </td>
             </tr>
             <tr>
               <th colspan = "6">
                 注文内容
               </th>
             </tr>
             <tr>
               <td colspan = "6">
                  <div class="has-text-weight-normal is-size-6"><%= @order.content %>&emsp;<%= @order.other_text %></div>     
               </td>
             </tr>
             <tr>
               <th class="select-metal">使用金属</th>
               <td>
                 <div class="has-text-weight-normal is-size-6"><%= @order.metal %></div>
               </td>
               <% if current_user.admin? && @order.metal.present? %>
                 <th class="select-metal">
                   <% unless @order.finished == "true" %>
                     <font color="#FF6666"><i class="fas fa-exclamation-triangle"></i></font> &nbsp;
                    <% end %>
                    金属量
                 </th>
                 <td>
                   <%= f.number_field :weight, step: '0.1', min: "0.0", :placeholder => "g", class: "input is-info is-small" %>
                 </td>
                 <td colspan = "2"></td>
               <% else %>
                 <td colspan = "4"></td>
               <% end %>
             </tr>
             <tr>
               <th colspan = "6">口腔内写真</th>
             </tr>
             <tr>
               <td colspan = "2">
                 <div class="field tooth-image has-text-centered js-modal-open" data-target="modal01">
                    <% if @order.image_1.present? %>
                      <%= image_tag @order.image_1.thumb.url, size: "250x250" %>
                    <% else %>
                      <%= image_tag "/user_images/no-image-2.png", size: "250x250" %>
                    <% end %>
                  </div>
               </td>
               <td colspan = "2">
                 <div class="field tooth-image has-text-centered js-modal-open" data-target="modal02">
                    <% if @order.image_2.present? %>
                      <%= image_tag @order.image_2.thumb.url, size: "250x250" %>
                    <% else %>
                      <%= image_tag "/user_images/no-image-2.png", size: "250x250" %>
                    <% end %>
                  </div>
               </td>
               <td colspan = "2">
                 <div class="field tooth-image has-text-centered js-modal-open" data-target="modal03">
                    <% if @order.image_3.present? %>
                      <%= image_tag @order.image_3.thumb.url, size: "250x250" %>
                    <% else %>
                      <%= image_tag "/user_images/no-image-2.png", size: "250x250" %>
                    <% end %>
                  </div>
               </td>
             </tr>
             <tr>
               <th class="select-tag">試適１</th>
               <td class="select-date">
                 <div class="has-text-weight-normal is-size-6">
                     <%= l(@order.first_try) if @order.first_try.present? %>
                 </div>
               </td>
               <th class="select-tag">試適２</th>
               <td class="select-date">
                 <div class="has-text-weight-normal is-size-6">
                   <%= l(@order.second_try) if @order.second_try.present? %>
                 </div>  
               </td>
               <th class="select-tag">完成日</th>
               <td class="select-date">
                <div class="has-text-weight-normal is-size-6">
                  <%= l(@order.complete_day) if @order.complete_day.present? %>
                </div>  
               </td>
             </tr>
               <% if current_user.admin? && @order.complete_day.present? && (@order.finished == "false" || @order.finished.blank?) %>
                 <tr>
                   <td colspan = "4"></td>
                   <th><font color="#FF6666"><i class="fas fa-tooth"></i></font>&nbsp;完了</th>
                   <td>
                     <%= f.check_box :finished, {:checked => false}, "true", "false" %>      
                   </td>
                 </tr>
               <% end %>
           </table>
          </div>
          <div class="has-text-centered">
          <% if current_user.admin? && @order.complete_day.present? && (@order.finished == "false" || @order.finished.blank?) %>  
            <%= f.submit "技工物完了", data: { confirm: "完了してよろしいですか？" }, class: "button is-primary is-medium" %>&emsp;&nbsp;
          <% end %>
            <%= link_to "キャンセル", user_path(current_user), class: "button is-outlined is-medium" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% end %>

<!--モーダルA-->

<div class="modal js-modal" id="modal01">
  <div class="modal__bg js-modal-close"></div>
    <div class="modal__content">
      <p class="images-orders is-4by3">
        <% if @order.image_1.present? %>
          <%= image_tag @order.image_1.thumb.url %>
        <% else %>
          <%= image_tag "/user_images/no-image-2.png" %>
        <% end %>
        <a class="js-modal-close" href="">閉じる</a>
      </p>    
    </div>
</div>

<!--モーダルB-->

<div class="modal js-modal" id="modal02">
  <div class="modal__bg js-modal-close"></div>
    <div class="modal__content">
      <p class="images-orders is-4by3">
        <% if @order.image_2.present? %>
          <%= image_tag @order.image_2.thumb.url %>
        <% else %>
          <%= image_tag "/user_images/no-image-2.png", size: "250x250" %>
        <% end %>
        <a class="js-modal-close" href="">閉じる</a>
      </p>
    </div>
</div>

<!--モーダルC-->

<div class="modal js-modal" id="modal03">
  <div class="modal__bg js-modal-close"></div>
    <div class="modal__content">
      <p class="images-orders is-4by3">
        <% if @order.image_3.present? %>
          <%= image_tag @order.image_3.thumb.url %>
        <% else %>
          <%= image_tag "/user_images/no-image-2.png" %>
        <% end %>
        <a class="js-modal-close" href="">閉じる</a>
      </p>
    </div>
</div>

<script>
  $(function(){
    $('.js-modal-open').each(function(){
        $(this).on('click',function(){
            var target = $(this).data('target');
            var modal = document.getElementById(target);
            $(modal).fadeIn();
            return false;
        });
    });
    $('.js-modal-close').on('click',function(){
        $('.js-modal').fadeOut();
        return false;
    }); 
  });
</script>    
    