<div class="simple-calendar">
  <div class="calendar-heading">
    <%= link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view, class: "button is-small is-link is-rounded" %>
    <font color="black"><span class="calendar-title has-text-weight-semibold"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span></font>
    <%= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view, class: "button is-small is-link is-rounded" %>
  </div>

  <table class="table table-striped table is-bordered is-hoverable" id="calendar-info">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th class="calendar-th">
            <% if day.wday == 0 %>
              <font color="Red"><%= t('date.abbr_day_names')[day.wday] %></font>
            <% elsif day.wday == 6 %>
              <font color="Blue"><%= t('date.abbr_day_names')[day.wday] %></font>
            <% else %>
              <%= t('date.abbr_day_names')[day.wday] %>
            <% end %>
          </th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &block) %>
              <% else %>
                <% block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
